
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}


header {
    background-color: #af0000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #af0000;
    margin: 0;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #af0000;
    border-radius: 5px;
}

section {
    padding: 20px;
}

h2 {
    color: #af0000;
    text-align: center;
}

article {
    background: white;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ffffff00;
    max-width: 400px;
    text-align: center;
}

button {
    background-color: #af0000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 140px;
}

button:hover {
    background-color: #af0000;
}

footer {
    background-color: #af0000;
    color: white;
    text-align: center;
    padding: 10px ;
    position: relative;
    bottom: 0;
    width: 1910px;
}

#Ofertas .precio1{
    text-decoration: line-through;
    margin-right: 10px;
}

#Ofertas .precio2{
    color: #af0000;
}

#Bambas{
    display: flex;
    gap: 20px;
}

#Ropa{
    display: flex;
    gap: 20px;
}

#Accesorios{
    display: flex;
    gap: 20px;
}

#Ofertas{
    display: flex;
    gap: 20px;
}

.container{
    width: 1910px;
}

.articulos{
    width: 400px;
    height: 400PX;
    border-radius: 20px;
    border: 2px solid #333;
}

.precio{
    text-align: center;
    font-size: 20px;
}

h3{
    text-align: center;
}

